@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Train+One&display=swap');
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#398e8a;
}
nav .links{
    display: flex;
    gap: 3rem;   
}
nav .logo{
    width: 500px;
}
nav .links a{
    color: white;
    text-decoration: none;
}
 nav .btn{
    border: 3px solid #D4BFEC ;
    width: 27vh;
    height: 33px;
    border-radius:15px;
    display: flex;
    align-items: center;
    padding: 0.1rem;
    gap: 0.5rem;
}
nav .btn .span{
    color: white;
    font-family: "inter";
}
header{
     background-color: #074643;
     height: 100vh;
     width: 100%;/
}
header .text{
    color: white;
    padding: 3rem;
    font-family: "inter";
    font-size: 1.5rem;
}
header .tes{
    font-size: 3rem;
    font-weight: 1000;
    
}
